/* Import the rest of Bulma */
@import "bulma/bulma";
@import "utility";

.subtitle {
  line-height: 1.5;
}

.notification {
  z-index: 1;
}

.card {
  &a {
    color: $text;
  }
  display: block;

  &.is-flat {
    border: $card-footer-border-top;
    box-shadow: none;
    .card-header {
      box-shadow: none;
      border-bottom: $card-footer-border-top;
    }
    &.is-hoverable {
      cursor: pointer;
      &:hover {
        //border: 1px solid rgba($scheme-invert, 0);
        box-shadow: $card-shadow;
      }
    }
  }
}
