/* Import the rest of Bulma */
@import '../../node_modules/bulma';
@import 'dark-mode';

a {
  outline: 0;
}

.has-limited-width {
  width: 670px;
  max-width: 100%;
}
.is-horizontal-centered {
  margin-left: auto;
  margin-right: auto;
}
.has-text-shadow {
  text-shadow: 2px 2px 4px #000000;
}
.card {
  //transition: box-shadow 0.2s;
  display: block;
  &.is-flat {
    border: $card-footer-border-top;
    box-shadow: none;
    .card-header {
      box-shadow: none;
      border-bottom: $card-footer-border-top;
    }
    &.is-hoverable {
      cursor: pointer;
      &:hover {
        //border: 1px solid rgba($scheme-invert, 0);
        box-shadow: $card-shadow;
      }
    }
  }
}
a.card {
  color: $text;
}

.has-background-white-blur {
  position: relative;
  * {
    position: relative;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0.7;
    top: 0;
    filter: blur(50px);
    left: 0;
    background: white;
  }
}

.has-background-black-transparent {
  background: rgba(11, 21, 62, 0.6);
}

.dark-mode {
  .has-background-white-blur:before {
    background: $dark-mode-background;
  }
}

.notification {
  &.is-primary {
    &.is-outlined {
      border: 2px solid $primary;
      color: $text;
      background: none;
    }
  }
}

.menu-label {
  font-weight: 700;
}

.input {
  &.is-primary {
    &.is-outlined {
      border: 1px solid $primary;
      color: $primary;
      background: none;

    }
  }
  &.is-white {
    &.is-outlined {
      border: 1px solid $white;
      color: $white;
      background: none;
      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }
  }
}
.hero-body {
  max-width: 100%;
}

.image {
  overflow: hidden;
  img {
    height: auto !important;
  }
}
.background-image {
  background-size: cover;
  background-position: top center;
}

.card-content {
  position: relative;
}

.button {
  &.is-wide {
    min-width: 200px;
  }
}

.has-radius {
  border-radius: 7px;
}

.has-shadow {
  box-shadow: $box-shadow;
}

.has-navbar-fixed-top {
  padding-top: 4.25rem;
}

@keyframes rotate {
  0% {
    transform: rotate(-30deg)
  }
  100% {
    transform: rotate(330deg)
  }
}
