/* Import the rest of Bulma */
@import '../../node_modules/bulma';
@import 'dark-mode';

a {
  outline: 0;
}

.has-limited-width {
  width: 600px;
  max-width: 100%;
}

.notification {
  &.is-primary {
    &.is-outlined {
      border: 2px solid $primary;
      color: $text;
      background: none;
    }
  }
}

.button {
  &.is-wide {
    min-width: 200px;
  }
}
